* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --sideBGColor: #040b14;
    --themeColor: #00A78E;
    --iconBGColor: #2C2F3F;
    --textColor: #525252;
    --bgColor: #F7f7F7;
}

header {
    height: 100vh;
    width: 300px;
    padding: 15px 30px;
    background-color: var(--sideBGColor);
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: 0.4s;
    z-index: 99;
}

header.profile {
    text-align: center;
    margin: 10px 0;


}

header .profile img {
    width: 150px;
    border-radius: 50%;
    border: 10px solid var(--iconBGColor)
}

header.profile h1 {
    color: white;
    font-weight: 600;

}

header .profile .social-icons a {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    background-color: var(--iconBGColor);
    color: white;
    font-size: 18px;
    margin: 1.5px;
    transition: 0.4s
}

header .profile .social-icons a:hover {
    background-color: var(--themeColor);
}

header nav {
    margin-top: 30px;
}

header nav ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    margin: 7px 0;
    color: lightgray;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.6px;
}

header nav ul li a i {
    margin-right: 10px;
    font-size: 20px;
    transition: 0.4s;
}

header nav ul li a:hover i {
    color: var(--themeColor);
}

header nav ul li .active i {
    color: var(--themeColor);
}

header .footer {
    text-align: center;
    background-color: var(--sideBGColor);
    width: 300px;
    color: lightgray;
    font-size: 14px;
    letter-spacing: 0.6px;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: 0.4s;
}

header .footer p a {
    color: var(--themeColor);
}

#MenuBtn {
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: var(--themeColor);
    text-align: center;
    line-height: 42px;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    display: none;
    z-index: 999;
}

@media only screen and(max-width:1050px) {
    header {
        left: -300px;
    }

    header .footer {
        left: -300px;
    }

    #MenuBtn {
        display: block;
    }
}

.mobile-nav-active header {
    left: 0;
}

.mobile-nav-active header .footer {
    left: 0;
}

main {
    margin-left: 300px;
    background-color: var(--bgColor);
    transition: 0.3s;
}

@media only screen and (max-width:1050) {
    main {
        margin-left: 0;
    }

}

#home {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px;
    position: relative;

}

#home::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.431);
    position: absolute;
    top: 0;
    left: 0;


}

#home .home-row {
    z-index: 1
}

#home .home-row h1 {
    font: size 60px;
    color: white;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 10px;
    line-height: 70px;
}

#home,
home-row h1 span {
    color: var(--themeColor);
}

#home,
home-row p {
    color: whitesmoke;
    font-size: 30px;
    font-weight: 500;
}

#home,
home-row p span {
    border-bottom: 4px solid var(--themeColor);
}

@media only screen and(max-width:670px) {
    #home {
        padding: 30px;
    }

    #home .home h1 {
        font-size: 35px;
        letter-spacing: 0;
        line-height: 70px;
    }

    #home .home-row h1 br {
        display: none;
    }

    #home .home-row p {
        font-size: 20px;
        font-weight: 400;
    }

}

/*---about --section ---*/

#about {
    padding: 70px 30px;
}

.sub-heading {
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
}

.divider {
    width: 80px;
    height: 4px;
    background-color: var(--themeColor);
    border-radius: 3px;
}

.sub-para {
    color: var(--textColor);
    font-size: 15px;
    letter-spacing: 0.4px;
    font-weight: 400;
    margin-top: 15px;
    font-style: italic;
}

#about .about-col {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

#about .about-col .img-col {
    flex-basis: 35px;
    text-align: center;
}

#about .about-col .img-col img {
    width: 100%;
}

#about .about-col .info-col {
    flex-basis: 80%;
}

#about .about-col .info-col h2 {
    color: var(--themeColor);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-top: -10px;
}

#about .about-col .info-col p {
    color: var(--textColor);
    font-size: 15px;
    letter-spacing: 0.5px;
    font-style: italic;
}

#about .about-col .info-col .icon-list-col {
    display: flex;
    margin-top: 20px;
    gap: 40px;
}

#about .about-col .info-col .icon-list-col ul li {
    list-style: none;
    margin: 15px 0;
}

#about .about-col .info-col .icon-list-col ul li i {
    color: var(--themeColor);
}

#about .about-col .info-col .icon-list-col ul li strong {
    color: var(--sideBGColor);
    font-weight: 600;
    margin-right: 2px;
}

#about .about-col .info-col .icon-list-col ul li span {
    color: var(--textColor);
    font-weight: 500;
    font-size: 15px;
}

@media only screen and (max-width: 830px) {
    #about {
        padding: 50px 10px;
    }

    #about .divider~p {
        font-size: 14px;
        letter-spacing: 0px;
        text-align: justify;
    }

    #about .about-col {
        flex-direction: column;
    }

    #about .about-col .img-col img {
        width: 50%;
    }

    #about .about-col .info h2 {
        color: var(--themeColor);
        font-weight: 600;
        font-size: 25px;
        letter-spacing: 0.5px;
        margin-top: -10px;
    }

    #about .about-col .info-col p {
        font-size: 14px;
        letter-spacing: 0px;
    }

    #about .about-col .info-col .icon-list-col {
        flex-direction: column;
        gap: 0;
    }

    #about .about-col .info-col .icon-list-col .icon-list ul li {
        list-style: none;
        margin: 10px 0;
    }

    #about .about-col .info-col .icon-list-col .icon-list ul li strong {
        font-weight: 500;
        margin-right: 0px;
    }

    #about .about-col .info-col .icon-list-col .icon-list ul li span {
        font-weight: 400;
        font-size: 13px;
    }
}

@media only screen and (max-width: 400px) {
    #about .about-col .img-col img {
        width: 50%;
    }

    #about .about-col .info-col h2 {
        font-weight: 600;
        font-size: 25px;
        letter-spacing: 0px;
    }

    #about .about-col .info-col p {
        font-size: 14px;
        letter-spacing: 0px;
    }

    #about .about-col .info-col .icon-list-col {
        flex-direction: column;
        gap: 0;
    }

    #about .about-col .info-col .icon-list-col .icon-list ul li {
        margin: 10px 0;
    }

    #about .about-col .info-col .icon-list-col .icon-list ul li strong {
        font-weight: 500;
        margin-right: 0px;
    }

    #about .about-col .info-col .icon-list-col .icon-list ul li span {
        font-weight: 400;
        font-size: 13px;
    }
}


    /*--- skill -----section-----*/
    #skill {
        padding: 70px 30px;
    }
    
    #skill .skill-row {
        margin-top: 35px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    
    #skill .skill-row .skill-box {
        grid-column: span 2; /* Make each skill box span two columns */
    }
    
    #skill .skill-row .skill-box .skill-info {
        display: flex;
        flex-direction: column; /* Display skill info in a single column */
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4px;
    }
    
    #skill .skill-row .skill-box .skill-info h2 {
        color: var(--sideBGColor);
        font-weight: 600;
        font-size: 15px;
        font-style: italic;
        border: 1px solid black; 
    }
    
    #skill .skill-row .skill-box .skill-outer-line {
        width: 100%;
        height: 10px;
        background-color: lightgray;
        border-radius: 15px;
    }
    
    #skill .skill-row .skill-box .skill-outer-line .skill-inner-line {
        height: 10px;
        background-color: var(--themeColor);
        border-radius: 20px;
    }
    
    @media only screen and (max-width: 450px) {
        #skill {
            padding: 50px 15px;
        }
        #skill .skill-row {
            grid-template-columns: repeat(1, 1fr); /* Change to a single column layout */
            grid-gap: 10px;
        }
    }
    

    /*--- contact---*/
    #contact{
        padding: 70px 30px;
        
    }
    #contact .contact-row{
        margin-top: 50px;
        display:flex;
        gap:20px;
        max-width: 100%;
    }
    #contact .contact-row .contact-left{
        flex-basis: 40%;
        min-width: 40%;
        background-color: white;
        box-shadow: 0 0 20px rgba(0, 0, 0 ,20%);
        border-radius:10% ;
        padding: 30px;
        height: 30%;

    }
    #contact .contact-row .contact-left .icon-box{
        display: flex;
        gap:15p;
        align-items: center;
        margin: 30px 0;
    }
    #contact .contact-row .contact-left .icon-box i{
       width: 5opx; 
       height:50px;
       border-radius: 50%;
       border: 2px solid var(--themeColor);
       text-align: center;
       line-height:47px ;
       font-size: 20px;
       color:var(--themeColor);
       transition:0.5s;
    }
    #contact .contact-row .contact-left .icon-box:hover i{
        background-color: var(--themeColor);
        color:var(--bgColor);
    }
    #contact .contact-row .contact-left .icon-box .info h4{
        font-size: 20px;
        color:var(--sideBGColor);
        font-weight: 600;
    }
    #contact .contact-row .contact-left .icon-box .info h4+p{
        color:var(--textColor);
        font-size: 15px;
        font-weight: 500;
    }
    #contact .contact-row .contact-right{
        flex-basis:60%;
        min-width:60%;
        background-color: white;
        box-shadow: 0 0 20px rgba(0,0,0, 20%);
        border-radius: 10%;
        padding: 30px;
        width:60%;
      
    }
    #contact .contact-row .contact-right form{
        display: flex;
        flex-direction: column;
        gap:20px;
        margin:20px 0;

    }
    #contact .contact-row .contact-right form input,
    #contact .contact-row .contact-right form textarea{
        display: block;
        width:100%;
        margin: 25px 0;
        font-size: 15px;
        font-weight: 500;
        color: var(--textColor);
        padding: 10px 20px;
        border:2px solid lightgray;
        border-radius: 2px;
        outline:none;
        resize: none;
        transition:0.5s;

    }
    #contact .contact-row .contact-right form input:focus,
    #contact .contact-row .contact-right form textarea:focus{

        border:2px solid var(--themeColor);
    }
    #contact .contact-row .contact-right form [type=submit]{
    background-color:var(--themeColor);
    color:var(--bgColor);
    border: 2px solid var(--themeColor);
    font-size: 17px;
    font-weight: 400;
    cursor:pointer;
}

@media only screen and (max-width:800px) {
    #contact{
        padding: 50px;
    }
    #contact .contact-row{
        flex-direction:column;
        gap: 20px;

    }

}